<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper.TesseractMenuBtnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="admin.entity.TesseractMenuBtn">
        <id column="id" property="id"/>
        <result column="menu_id" property="menuId"/>
        <result column="btn_id" property="btnId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_id, btn_id
    </sql>
    <select id="listBtnByMenuIdList" resultType="admin.entity.TesseractBtnResource">
        SELECT
        tbr.*
        FROM
        tesseract_menu_btn AS tmb
        LEFT JOIN tesseract_btn_resource AS tbr
        ON tmb.btn_id = tbr.id
        <where>
            <if test="menuIdList != null and menuIdList.size() > 0">
                tmb.menu_id IN
                <foreach collection="menuIdList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
