<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper.TesseractFiredJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="admin.entity.TesseractFiredJob">
        <id column="id" property="id" />
        <result column="trigger_id" property="triggerId" />
        <result column="class_name" property="className" />
        <result column="job_id" property="jobId" />
        <result column="job_name" property="jobName" />
        <result column="socket" property="socket" />
        <result column="create_time" property="createTime" />
        <result column="log_id" property="logId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, trigger_id, class_name, job_id, job_name, socket, create_time, log_id
    </sql>

</mapper>
